body
{
    background-color: #696969;
    margin: 0;
}

.Header
{
    padding: 10px, 2px;
    color: white;
    background-color: #111111;
    
}

img
{
    height: 5%;
    width: 5%;
}

.headertext
{
    text-align: centre;
}


