body
{
    background-color: #696969;
    margin: 0;
    font-family: "Outfit",sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.Header
{
    padding: 20px, 2px;
    color: white;
    background-color: #111111;
}

img
{
    height: 5%;
    width: 5%;
    vertical-align: middle;
    padding: 10px;
}

.headertext
{
    
    display: inline-block;
    text-align: center;
    padding: 20px, 0px;
}


