body
{
    background-color: #696969;
    margin: 0;
    font-family: "Outfit",sans-serif;
    font-weight: 400;
    
}

.Header
{
    padding: 30px, 2px;
    color: white;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,8,8,1) 51%, rgba(22,22,22,1) 100%);
    
}

img
{
    height: 5%;
    width: 5%;
    vertical-align: middle;
    padding: 10px;
}

#headertext
{
    font-size: 200%;
    padding: 50px, 2px;

}

@media only screen and (max-width: 768px){
    img{
        height: 15%;
        width: 15%;
    }

    #headertext{
        font-size: 100%;
    }
}




